*{box-sizing: border-box;}

/* removes margin around body */
* {
  margin: 0;
  padding: 0;
} 

.web-container{
    width: 100%;
    height: 100%;
}

p,h1,h2,h3,h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.container{
    width: 100%;
    height: 100%;
    /* display: grid; this centers all its child
    place-content: center; */
    border-top: #30393e solid 8px;
    border-bottom: #30393e solid 2px;
    background-color: #30393e;
}


.topnav img{
    max-width: 100%;
    max-height: 100%;
    height: 20px;

}

.topnav{
    background-color: #adcae1;
    overflow: hidden;
    height: fit-content;
}

.topnav a{
    float: left;
    text-align: center;
    padding: 13px 9px;
    text-decoration: none;
}

.topnav h1{
    color: #30393e;
    text-align: center;
    letter-spacing: 3px;
    
}

.cert-container{
    margin:5px 120px ;
    padding: 10px 70px;  
    text-align: center;
    background-color: #81a4cf;
    border-radius: 20px;
    border: #30393e solid;
}

.cert-container img{
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    border: #eee1b1 5px solid;
}

/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 5px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #e9cf97;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f7ecd0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #e9cf97;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


