*{box-sizing: border-box;}

/* removes margin around body */
body {
    margin: 0;
    padding: 0;
  } 

.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 

.center {
    margin: auto;
    height: 50%;
    top: 30px;
    width: 80%;
  }

div:first-child{
    width: 100%;
}

h1, p, h5, h2, h4, li, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#30393e;
}



/*HEADERS*/
/*header name container*/
.headername-container{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 600px;
}

/* source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
/*background image for header title name*/
.bg-image{
    background-image: url(../img/coverphoto.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #f5f4f367; /* Black w/opacity/see-through */
    color: #30393e;
    font-weight: bold;
    border: 3px solid #f7ecd0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

.reg-img{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #adcae1; /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;

}

.reg-img img{
    max-width: 100%;
    height: 250px;
    border-radius:50%;
}



/*SLIDESHOWS*/
/*slideshow container*/
.slideshow-container{
    max-width: 100%;
    height: 100%;
    position: relative;
}

.infome-container{
    background-color: #f5f4f3;
    width: 100%;
    height: 100%;
}

.infome-container .slideshow-container  h2, p, h5, h4, ul{
    color: black;
    font-size: 1.2em;
}


.padding{
    padding: 20px;
}

.lang div:first-child{
    top: 0;
}

.lang p{
    font-size: small;
}

.lang h5{
    font-size: large;
    
}

.mySlides .paddingz{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
}


/*Hide the images by default*/
.mySlides{
    display:none;
}

.slides{
    width: 80%;
    height: 550px;
    padding: 10px;
    border-top: 2px solid #333232;
}

.content{
    padding: 5px 35px 35px;
    width: 100%;
    height: 350px;
    left: 0;
}

.content-text h5{
    color: #bbb;
}

.content-text h4, h3{
    font-weight: bold;
    font-size: 1.5em;
}


/* COLUMNS & ROWS */
.row{
    display: flex;
}

.row-adjust{
    width: 100%;
}

.column{
    flex: 33.33%;
    padding: 5px;

}



/*Next & Previous Button*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next{
    right: 10px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Titles for carousel e.g About Me, experience...*/
.carousel-title-font h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    letter-spacing: 0.1em;
    font-size: 25px;
}

.icons .column img{
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    padding: 10px;
}

.icons .column{
    text-align: center;
    padding: 40px 0;
}

.icons .column img:hover{
    border-radius: 30%;
    background-color: #adcae1 ;
}


/* The dots/bullets/indicators */
.dot, .dot2{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #81a4cf;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



.active, .dot:hover , .dot2:hover{
    background-color: #30393e;
}

/* Fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

.logo a img{
    max-width: 100%;
    max-height: 100%;
    height: 30px;
}

.rectangle {
    height: 10px;
    width: 70px;
    background-color: #81a4cf;
  }

/* SKILLS SECTION */
.skillsslides{
    display: none;
}

.skills-section{
    background-color: #adcae1;
    height: 100%;
    padding: 10px;
    position: relative;
    width: auto;
}

.skills-section .slideshow-container  p{
    color: black;
    font-size: 1em;
}

.skillsets .column{
    text-align: center;
}

.skillsets .column:hover{
    border-radius: 30px;
    background-color: #f5f4f3;

}

.skillsets img{
    max-width: 100%;
    max-height: 100%;
    height: 60px;
}

.skills-content{
    height: auto;
    width: 80%;

}

.skills-content .rectangle{
    height: 10px;
    width: 70px;
    background-color: #eee1b1;
}

.skillsets .row{
    margin-bottom: 20px;
    margin-top: 20px;
}
.skillsets .column{
    margin: 0 70px 0 70px;
}

/* Others SECTION */
.others-section{
    height: 400px;
    position: relative;
    width: 100%;
    background-color: #81a4cf;
    padding: 20px;
}

.others-section .row .column a img{
    max-width: 100%;
    max-height: 100%;
    height: 300px;
}

.others-section h2{
    color: #e9cf97;
}

.others-section .row .column a img:hover{
    border-radius: 10%;
    background-color: #f5f4f3 ;
}

.others-section .row .column{
    text-align: center;
}




/* Contacts */
.contacts-section{
    height: 400px;
    position: relative;
    width: 100%;
    background-color: #30393e;
}

.contacts-section .content .titles p, .contacts p, h2{
    color:#f5f4f3;
}



.contacts-section .rectangle{
    height: 10px;
    width: 70px;
    background-color: #81a4cf;
}

.contacts-section .content{
    padding: 50px;
    padding-left: 80px;
}

.contacts-section .titles{
    font-weight: bold;
}



.download-resume{
    height: 400px;
    position: relative;
    width: auto;
    background-color: #f5f4f3;
}

.download-resume button{
    font-size: 2em;
    border: #adcae1 solid 2px;
}

.download-resume .padding{
    height: 90%;
    width: 90%;
    margin: 20px 30px;
    background-color: #30393e;
    border-radius: 30px;
    border: #adcae1 solid;
    text-align: center;
}

.download-resume a{
    text-decoration: none;
}


.download-resume img{
    max-width: 100%;
    max-height: 100%;
    height: 250px;
}
